
<div class="container1">
  <h1 class="h2">{{title}}</h1>
  <p class="paragraph">{{description}}</p>
</div>

<div class="containerParent1">
  <div class="containerChild1">
  <h1 class="h1">{{title}}</h1>
  <p class="paragraph">{{description}}</p>
  </div>
  <div>
    <app-box *ngFor="let box of boxDataArray" [boxData1]="box"></app-box>
  </div>
</div>

<div class="containerParent2">
  <div class="containerChild2">
  <h1 class="h2">{{title}}</h1>
  <p class="paragraph1">{{description}}</p>
  </div>
  <div class="LastContainer">
    <app-box *ngFor="let box of boxDataArray" [boxData2]="box"></app-box>
  </div>
</div>




  
